# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
/classes
/lib
/native
/checkouts
/target
.lein-deps-sum
.lein-failures
.lein-env
.lein-repl-history

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log

# Docs
/autodoc
/docs

