# Java related
pom.xml
*jar
*.class

# Leiningen
/classes
/lib
/native
/checkouts
.lein-deps-sum
.lein-failures

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log

# Docs
/autodoc
/docs

